/* NAVIGATION BAR 
====================================*/
.nav-title {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 30px;
}

.header {
    position: relative
}

.nav-btn1, .nav-btn2 {
    background-color: #a8b6bf;
    outline: none;
    position: absolute;
   
}

.nav-btn1 {
     top: 5px;
    right: 20px;
}

.nav-btn2 {
     top: 5px;
    right: 5px;
}


/* LAYOUT 
====================================*/
.container {
    max-width: 1000px;
}


/* JUMBOTRON
====================================*/

.jumbotron {
    border-bottom: solid 6px #edd9c0;
  
}

.blurb {
    margin-top: 30px;
    font-style: italic;
    text-align: center;
} 

.img-tracy {
    height: 200px;
    width: 200px;
    margin-top: 100px;
    border: solid  10px #fff;
    border-radius: 50%;    
}

.border {
   border: solid  10px #edd9c0;  
}

/* PROJECT CONTAINER
====================================*/
.project {
    height: 350px;
    border-bottom: solid 2px #fff;
    padding-bottom: 20px;
   
}


#portfolio-info {
   padding: 0 10px;
    margin-bottom: 50px;

}

.bg-color {
    
    background-color: #edd9c0;  
}

.link-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.link-content p {
    margin-right: 30px;
}

.title {
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

.project-btn {
    background-color: #fff;
    border: solid 2px #fff;
    border-radius: 6px;
    margin-right: 10px;
    padding: 5px;
}

/* IMAGES 
====================================*/

.project-imgs {
    height: 150px;
    width: 200px;
    border: solid 4px #fff;
    border-radius: 6%;
}

/* ABOUT
====================================*/

#about-info {
    margin: 100px 0;
    padding: 0 20px;
}

.about {
    height: 150px;
}

.about-me{
    text-align: center;
    padding: 40px;
    background-color: #fff;
}

.pnk-bg {
    background-color: #edd9c0;
    text-align: center;
    font-style: italic;
    font-size: .9em;
    padding-top: 20px;
}

.year {
  font-size: 1.5em;
    text-align: center;
      padding: 50px;
}

.education {
    font-size: 1.5em;
    text-align: center;
   
}

/* Footer
====================================*/

.footer {
    text-align: center;
    border-top: solid 2px #fff;
    padding-top: 20px;
    
}

.envelope {
    margin-right: 10px;
    margin-top: 5px;
}

/*@ MEDIA 
====================================*/


@media(min-width: 768px) {
    
.large-nav {
        padding-right: 20px;
        font-size: 1.5em;
    }
    
      
.envelope {
        margin-top: 10px;
    }
    
 .about-me {
        margin-top: 20px;
        height: 370px;
    }

       
}

@media(min-width: 1280px) {
 

    
.img-tracy {
    height: 250px;
    width: 250px;
}
    
 .large-nav {
        font-size: 2em;
    }
    
.about-this-project {
        margin-top: 40px;
    }  
    
.project {
    height: 370px;
      
}
       

.pnk-bg {
        font-size: 2em;
    }
    
.year {
        font-size: 2.5em;
    }
    
    .footer {
        font-size: 1.5em;
    }

}























